doctype html
html(lang='en')
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
      title Natours | #{title}
      script(src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js')
      link(href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet')

   body(data-alert=`${alert ? 'alert' : ''}`)
      //- HEADER
      include _header

      //- Main section
      block content
         h1 This is a placeholder heading
      
      //- footer
      include _footer

      //- scripts
      //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
      //- script(src='/js/login.js')
      script(src='https://js.stripe.com/v3/')
      script(src='/js/mapbox.js')
      script(src='/js/bundle.js')