extends base

block content
   main.main
      div.alert.alert--error A token has been sent to your Email
   
      .login-form#form-verify
         h2.heading-secondary.ma-bt-lg Verify your account
         form.form.form--login
            .form__group
            label.form__label(for='token') Token
            input#token.form__input(type='text', placeholder='Verification token', required, autocomplete="off")
            .form__group
            button.btn.btn--green Submit